<div class="shrimps">
  <div *ngFor="let shrimp of shrimps">
    <div class="shrimp">
      <div class="badge">
        <a routerLink="/detail/{{shrimp.id}}">{{shrimp.name}}</a>
      </div>
      <div class="imgContainer">
        <img src="{{baseUrl}}/imgs/{{shrimp.id}}" alt="{{shrimp.name}}" class="thumbnail">
      </div>
      <div class="price">
        <a>${{shrimp.price}} USD</a>
      </div>
      <div class="addToCart">
        <button class="addToCartBtn" (click)="addToCart(shrimp)">Add to cart</button>
        <div class="quantity">
          <button class="decrement" (click)="decrementQuantity(shrimp.id)">-</button>
          <input type="text" class="quantity-input" [value]="getQuantity(shrimp.id)" readonly>
          <button class="increment" (click)="incrementQuantity(shrimp.id)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>