<div id="search-component">
    <label for="search-box">Shrimp Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let shrimp of shrimps$ | async" >
        <a routerLink="/detail/{{shrimp.id}}">
          <div class = "imgContainer">
            <img src="{{baseUrl}}/imgs/{{shrimp.id}}" alt="{{ shrimp.name }}" class="thumbnail">
          </div>
          <div class = "name">
            {{shrimp.name}}
         </div>
        </a>
      </li>
    </ul>
  </div>