<div class = "container">
    <h1>{{title}}</h1>
    <div class = "controls">
        <nav>
            <a routerLink="/dashboard">Dashboard</a>
            <a *ngIf="isLoggedIn()" routerLink="/shrimps">Shrimps</a>
            <a routerLink="/storefront">Storefront</a>

        </nav>
        <ng-container *ngIf="isLoggedIn()">
            <div>
                <app-user></app-user>
            </div>
            <button (click)="logout()"> Logout </button>
        </ng-container>
    </div>
    
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>