<h2>My Shrimps</h2>
<div>
  <label for="new-shrimp">Shrimp name: </label>
  <input id="new-shrimp" #shrimpName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(shrimpName.value); shrimpName.value=''">
    Add shrimp
  </button>
</div>
<ul class="shrimps">
  <li *ngFor="let shrimp of shrimps">
    <div class = "shrimp" >
      <a routerLink="/detail/{{shrimp.id}}">
        <span class="badge">{{shrimp.id}}</span> 
        <div class = "imgContainer">
          <img src="{{baseUrl}}/imgs/{{shrimp.id}}" alt="{{ shrimp.name }}" class="thumbnail">
        </div>
        <div class = "name">
          {{shrimp.name}}
        </div>
        <div class = "price">
           ${{shrimp.price}} USD
        </div>
      </a>
      <button type="button" class="delete" title="delete hero"
        (click)="delete(shrimp)">x</button>
   </div>
  </li>
</ul>
