.shrimp {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.shrimp a:hover {
  background-color: #e6e6e6;
}

.shrimp .delete {
  background-color: #EEE; /* Background color for button */
  color: #525252; /* Text color for button */
  font-size: 1.1rem;
  padding: 8px 12px; /* Adjust padding as needed */
  border: none; /* Remove border */
  cursor: pointer;
  position: relative;
  border-radius: 0 4px 4px 0; /* Adjust border-radius to match link */
}

.shrimps .shrimp .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 1.8em 0.7em 1em 0.7em;
  background-color: #002751;
  line-height: 1em;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin: 0px .8px 0px 0px;
  border-radius: 4px 0 0 4px;
}

.shrimps .shrimp .name {
  flex: 1;
  display: flex;
}


.shrimps .shrimp .price {
  flex: 1;
  display: flex;
  margin-left: 7px;
  color: #0034b8;
}


.shrimps .imgContainer {
  display: inline-block;
}

.shrimp {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.shrimp .imgContainer {
  position: relative; /* Set imgContainer as positioning context */
  width: 50px; /* Set width for imgContainer */
  height: 50px; /* Set height for imgContainer */
  margin-right: 10px; /* Add spacing between the image and text */
  padding: 0px 0px 0px 10px;
}

.shrimp .thumbnail {
  width: 100%; /* Set width to fill imgContainer */
  height: 100%; /* Set height to fill imgContainer */
  border-radius: 4px; /* Optional: Add rounded corners */
}

.shrimp a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  padding: 8px 12px; /* Adjust padding as needed */
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex: 1; /* Expand to fill remaining space */
  margin-right: 5px;
}

.shrimp a:active {
  background-color: #525252;
  color: #fafafa;
}

.shrimp .delete:hover {
  background-color: #525252; 
  color: white; 
}

.shrimps {
  margin: 2em 0 2em 1em;
  list-style-type: none; /* Hide the bullet point */
  padding: 0;
  width: 40%;
}

.add-button {
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  border:none;
  cursor:pointer;
  margin: 10px 10px 0px 10px;
  font-size: 15px;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}
.add-button:active {
  background-color: black;
}
/* Reset default input styles */
input {
  border: none;
  outline: none;
  margin-left: 10px;
  padding: 5px 0;
  font-size: 16px;
  border-bottom: 2px solid #525252 ; /* Default color for bottom border */
}

/* Style the bottom border when focused */
input:focus {
  border-bottom: 2px solid #1976D2; /* Color for bottom border when focused */
}